* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --primary-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background: var(--primary-bg);
}

.app {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  max-width: 350px;
  height: 595px;
  margin: auto;
  border-radius: 15px;
  padding: 24px 24px 30px;
  background: var(--card-bg);
  box-shadow: 0 10px 30px #0c1727;
}

.card__img {
  position: relative;
  margin-bottom: 25px;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  cursor: pointer;
}

.card__img::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--Cyan);
  border-radius: 7px;
  z-index: 1;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  opacity: 0;
}

.card__img:hover::after {
  opacity: 0.5;
}
.card__view {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--White);
  z-index: 2;
  opacity: 0;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.card__img:hover .card__view {
  opacity: 1;
}

.card__img img {
  border-radius: 7px;
  display: block;
  width: 100%;
}

.card__body {
  padding-bottom: 14px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--line);
}

.card__title h1 {
  font-size: 22px;
  color: var(--White);
  font-weight: 600;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.card__title h1:hover {
  color: var(--Cyan);
}

.card__body p {
  font-size: 18px;
  color: var(--Soft-blue);
  margin-bottom: 25px;
}

.card__des {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.card__left {
  display: flex;
  align-items: center;
  color: var(--Cyan);
  font-weight: 600;
}

.card__left img,
.card__right img {
  margin-right: 5px;
}

.card__right {
  display: flex;
  align-items: center;
  color: var(--Soft-blue);
}

.card__foot {
  width: 100%;
  display: flex;
  align-items: center;
}

.card__foot img {
  width: 32px;
  height: 32px;
  display: block;
  border: 1px solid var(--White);
  border-radius: 50%;
  margin-right: 16px;
}

.card__foot--des span {
  font-size: 18px;
  color: var(--Soft-blue);
}

.card__foot--des a {
  display: inline-block;
  font-size: 18px;
  color: var(--White);
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.card__foot--des a:hover {
  color: var(--Cyan);
}

@media screen and (max-width: 768px) {
  .card {
    width: 324px;
    margin: 0 25px;
  }
}
